<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ABAboutTableCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>openTwitter:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ABAboutKyleTableCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>openKylesTwitter:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Translations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>MiRO</string>
			<key>language</key>
			<string>Arabic</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Ka Pan Chan</string>
			<key>language</key>
			<string>Chinese (Tranditional)</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Kevin Lee</string>
			<key>language</key>
			<string>Chinese (Tranditional)</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Ka Pan Chan</string>
			<key>language</key>
			<string>Chinese (Simplified)</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Sh4rPEYE</string>
			<key>language</key>
			<string>Czech</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Rasmus Hansen</string>
			<key>language</key>
			<string>Danish</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Stefan D&apos;Elia</string>
			<key>language</key>
			<string>German</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Niko</string>
			<key>language</key>
			<string>Greek</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Aran Shavit</string>
			<key>language</key>
			<string>Hebrew</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Alessandro Grandi</string>
			<key>language</key>
			<string>Italian</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>koh_kun</string>
			<key>language</key>
			<string>Japanese</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>고맙쥐</string>
			<key>language</key>
			<string>Korean</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Aaken</string>
			<key>language</key>
			<string>Polish</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Bruno Bareta</string>
			<key>language</key>
			<string>Portuguese</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Alex Godelashvili</string>
			<key>language</key>
			<string>Russian</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>German Ríos-Lazo</string>
			<key>language</key>
			<string>Spanish</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Adnan Çakmak</string>
			<key>language</key>
			<string>Turkish</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Tolga Meteay Yıldız</string>
			<key>language</key>
			<string>Turkish</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Thanhnh091™</string>
			<key>language</key>
			<string>Vietnamese</string>
			<key>get</key>
			<string>languageForSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ABOUT_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_LABEL</string>
			<key>action</key>
			<string>resetSettings:</string>
		</dict>
	</array>
	<key>title</key>
	<string>ABOUT_SECTION_LABEL</string>
</dict>
</plist>
