<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BLACK_BUTTON_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>BlackButton</string>
			<key>label</key>
			<string>BLACK_BUTTON_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BLACK_TRAY_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>BlackTray</string>
			<key>label</key>
			<string>BLACK_TRAY_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RESTING_ALPHA_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>ABSliderTableCell</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>1.0</string>
			<key>default</key>
			<string>0.3</string>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>RestingAlpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ACTIVE_ALPHA_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>ABSliderTableCell</string>
			<key>min</key>
			<string>0.1</string>
			<key>max</key>
			<string>1.0</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>ActiveAlpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ENABLE_BORDER_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>EnableBorder</string>
			<key>label</key>
			<string>ENABLE_BORDER_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ENABLE_BLUR_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>EnableBlur</string>
			<key>label</key>
			<string>ENABLE_BLUR_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HIGHLIGHT_APP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>HighlightApp</string>
			<key>label</key>
			<string>HIGHLIGHT_APP_LABEL</string>
		</dict>
	</array>
	<key>title</key>
	<string>AESTHETICS_SECTION_LABEL</string>
</dict>
</plist>
