<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SWAP_CONTROLS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>SwapControls</string>
			<key>label</key>
			<string>SWAP_CONTROLS_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SINGLE_TAP_ACTION_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>cellClass</key>
			<string>ABSegmentTableCell</string>
			<key>default</key>
			<string>LastApp</string>
			<key>validTitles</key>
			<array>
				<string>TAP_ACTION_IGNORE</string>
				<string>TAP_ACTION_LAST_APP</string>
				<string>TAP_ACTION_TAP_HOME</string>
				<string>TAP_ACTION_DOUBLE_TAP_HOME</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Nothing</string>
				<string>LastApp</string>
				<string>HomePress</string>
				<string>DoubleHome</string>
			</array>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>SingleTapButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DOUBLE_TAP_ACTION_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>cellClass</key>
			<string>ABSegmentTableCell</string>
			<key>default</key>
			<string>Nothing</string>
			<key>validTitles</key>
			<array>
				<string>TAP_ACTION_IGNORE</string>
				<string>TAP_ACTION_LAST_APP</string>
				<string>TAP_ACTION_TAP_HOME</string>
				<string>TAP_ACTION_DOUBLE_TAP_HOME</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Nothing</string>
				<string>LastApp</string>
				<string>HomePress</string>
				<string>DoubleHome</string>
			</array>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>DoubleTapButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SNAP_TO_EDGE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>DockToEdge</string>
			<key>label</key>
			<string>SNAP_TO_EDGE_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SCROLL_ENABLED_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>ScrollEnabled</string>
			<key>label</key>
			<string>SCROLL_ENABLED_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>KILL_APPS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>KillApps</string>
			<key>label</key>
			<string>KILL_APPS_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>WHITELIST_SECTION_HEADER</string>
			<key>detail</key>
			<string>ABWhitelistApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SAUSAGE_FINGERS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ABSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chewmieser.appbutton</string>
			<key>PostNotification</key>
			<string>com.chewmieser.appbutton.prefs-changed</string>
			<key>key</key>
			<string>SausageFingers</string>
			<key>label</key>
			<string>SAUSAGE_FINGERS_LABEL</string>
		</dict>
	</array>
	<key>title</key>
	<string>BEHAVIOR_SECTION_LABEL</string>
</dict>
</plist>
